/* Chrome, Safari, Edge, Opera */
.calculator-Container input::-webkit-outer-spin-button,
.calculator-Container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator-Container #myForm table td{
    min-width: 110px;
}
/* Firefox */
.calculator-Container input[type=number] {
  -moz-appearance: textfield;
}

.calculator-Container table td, table th{
    border: none !important;
}

.calculator-Container .table tr th{
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #0020ce;
    position: relative;
}

.calculator-Container .table tbody tr{
    border-bottom: 2px solid #fafafa;
}

.calculator-Container .vs{
    width: 30px;
    height: 30px;
    background-color: #000000;
    font-size: 10px;
    color: #ffffff;
    border-radius: 50%;
    padding: 8%;
    margin-right: 15px;
    margin-left: 15px;
}

.calculator-Container .table .col1{
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  text-align: right;
  color: #5a5a5a;
  padding-top: 0px;
}
.calculator-Container .col1 span{
    font-size: 10px;
    font-weight: normal;
}

.calculator-Container .col2 input, .col3 input,.col4 input{
    width: 80px;
    height: 35px;
    border-radius: 2px !important;
    box-shadow: 2px 2px 0 0 #e4e6f2;
    background-color: #f8f9ff !important;
    font-size: 14px;
    text-align: center;
    color: #000000;
    border: none !important;
}

.calculator-Container .col2,.col3,.col4{
    text-align: center;
}

.calculator-Container .col2 .text,.col3 .text,.col4 .text{
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}
.calculator-Container .col2 .top_text,.col3 .top_text,.col4 .top_text{
    font-size: 10px;
    line-height: 3.67;
    letter-spacing: normal;
    color: #bababa;
}

.calculator-Container .col5,.col6{
    font-size: 21px;
    line-height: 2.1;
    text-align: center;
    color: #000000;
}

.calculator-Container .col2_text{
    font-size: 7px;
    font-weight: bold;
    line-height: 3.14;
    letter-spacing: normal;
    color: #919191;
}

.calculator-Container #outsourceagentrate{
    width: 80px;
    height: 35px;
    border-radius: 2px !important;
    box-shadow: 2px 2px 0 0 #e4e6f2;
    background-color: #f8f9ff !important;
    font-size: 14px;
    text-align: center;
    color: #000000;
    border: none !important;
}

.calculator-Container .total_row{
    background-color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
}

.calculator-Container .total_col{
    font-size: 18px;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #0020ce;
}

/*get my pdf*/
.calculator-Container .main{
    background-color: #232323;
}

.calculator-Container .main .main_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1.37;
    text-align: left;
    color: #ffffff;
}

.calculator-Container .main .main_desc{
    opacity: 0.75;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.52;
    text-align: left;
    color: #ffffff;
}

.calculator-Container .main .input_note{
    font-size: 14px;
    font-style: italic;
    line-height: 2;
    text-align: left;
    color: #ffffff;
}

.calculator-Container .main .input_fields input{
    width: 25%;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #000000;
}

.calculator-Container .main .btn_pdf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 100px;
    border: solid 2px #ffffff;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.25;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*get my pdf*/

/*staffing alculator*/
.calculator-Container .main_staffing_calculator{
    max-width: 100% !important;
    margin: 0 !important;
}
.calculator-Container .main_staffing_calculator .top_fields{
    padding-bottom: 10px;
    border-bottom: 2px solid #ebebeb;
}
.calculator-Container .main_staffing_calculator .top_fields .item_float_right{
    float: right;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.calculator-Container .main_staffing_calculator .top_fields .item_float_left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.calculator-Container .main_staffing_calculator .top_fields .label{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
    margin-left: 50px;
}
.calculator-Container .main_staffing_calculator .top_fields input{
    width: 80px;
    height: 35px;
    border-radius: 2px !important;
    box-shadow: 2px 2px 0 0 #e4e6f2;
    background-color: #f8f9ff !important;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    border: none !important;
}

.calculator-Container .main_staffing_calculator .top_fields .unit{
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    color: #919191;
    margin-right: 50px;
    text-transform: uppercase;
}

.calculator-Container .bottom_fields{
    margin-top: 30px;
}

.calculator-Container .bottom_fields .new_row {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-Container .bottom_fields .new_row .time{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    float: left;
}

.calculator-Container .bottom_fields .new_row .time .label{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
    margin-left: 10px;
}

.calculator-Container .bottom_fields .new_row .time select{
    width: 100px;
    height: 35px;
    border-radius: 2px !important;
    box-shadow: 2px 2px 0 0 #e4e6f2;
    background-color: #f8f9ff !important;
    font-size: 14px !important;
    color: #000000;
    margin-left: 10px;
    border: none !important;
}

.calculator-Container .bottom_fields .new_row .incoming_contacts{
    width: 50%;
    float: left;
    display: flex;
    height: 50px;
    align-items: center;
}

.calculator-Container .bottom_fields .new_row .incoming_contacts .label{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.67;
    color: #000000;
    margin-left: 10px;
}

.calculator-Container .bottom_fields .new_row .incoming_contacts input{
    width: 80px;
    height: 35px;
    border-radius: 2px !important;
    box-shadow: 2px 2px 0 0 #e4e6f2;
    background-color: #f8f9ff !important;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    border: none !important;
}

.calculator-Container .bottom_fields .new_row .incoming_contacts .no_text{
    font-size: 36px;
    color: #0020ce;
    font-weight: bold;
    margin-left: 30px;
}

.calculator-Container .close_btn{
    text-align: center;
    margin-left: 50px;
}

.calculator-Container .close_btn .close{
    color: #f20039;
    font-size: 18px;
}

.calculator-Container .close_btn .remove{
  font-size: 10px;
  font-weight: 500;
  color: #000000;
  display: block;
}

.calculator-Container .add_new_time_btn{
    width: 100%;
    height: 20px;
    margin-left: 13%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.calculator-Container .add_new_time_btn span{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000000;
    margin-left: 5px;
}

.calculator-Container .add_new_time_btn .plus_icon{
    color: #ffffff;
    font-size: 10px;
    border-radius: 25px;
    padding: 5px 5px 4px 5px;
    background-color: #0020ce;
}
/*staffing calculator*/

/*PDFs*/
.calculator-Container .callcentre_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator-Container .header_right_cont{
    text-align: right;
}

.calculator-Container .Questions{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
}

.calculator-Container .Questions_phone{
    font-size: 21px;
    font-weight: 500;
    color: #000000;
}

.calculator-Container .info{
    font-size: 21px;
    font-weight: 500;
    color: #000000;
}

.calculator-Container .margin_lr_150{
    margin-left: 150px;
    margin-right: 150px;
}

.calculator-Container .Call-Center-Calculators{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #232323;
}

.calculator-Container .How-much{
    font-size: 62px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.calculator-Container .Save-BIG{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.calculator-Container .table-head-pdf {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #0020ce;
  }

  .calculator-Container  .pdf_input{
      background: transparent !important;
      background: transparent !important;
      width: 80px;
      height: 30px;
      border-radius: 5px !important;
      border: solid 1px #b9b9b9;
  }

  .calculator-Container .col2_text_pdf{
    font-size: 8px;
    font-weight: bold;
    line-height: 3.14;
    letter-spacing: normal;
    color: #919191;
    width: min-content !important;
}

.calculator-Container .pdf_table tr td{
    text-align: center !important;
}

.calculator-Container .pdf_table thead{
    background-color: #fafafa;
}

.calculator-Container .pdf_table thead tr{
    height: 50px !important;
}

.calculator-Container .pdf_table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-spacing: inherit;
}

.calculator-Container .pdf_table tr{
    border-bottom: 1px solid #fafafa;
}

.calculator-Container .pdf_table .col1{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.33;
    display: flex;
    justify-content: flex-end !important;
    flex-direction: column;
    color: #000000;
}

.calculator-Container .total_row_pdf{
    background-color: #fafafa;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #000000;
    height: 50px;
    position: relative;
}

.calculator-Container .total_saving{
    width: 300px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.15);
    border: solid 4px #d3d3d3;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 200px;
    bottom: -450px;
}

.calculator-Container .total_saving .heading{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.calculator-Container .total_saving .amount{
    font-size: 50px;
    letter-spacing: normal;
    text-align: center;
    color: #0020ce;
}

.calculator-Container .bg_dark_grey{
    background-color: #eaeaea;
}

.calculator-Container .bg_dark{
    background-color: #232323;
}

.calculator-Container .bg_light_grey{
    background-color: #fafafa;
}

.calculator-Container .d-flex{
    display: flex !important;
}

.calculator-Container .text-center{
    text-align: center !important;
    display: block;
}

.calculator-Container .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.calculator-Container .p-tb-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
/*PDFs*/

/* dark final shortcode */
.calculator-Container .container{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.calculator-Container .container .left .heading{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.37;
    text-align: left;
    color: #ffffff;
}
.calculator-Container .container .left .text{
    opacity: 0.75;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.52;
    text-align: left;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 30px;
}
.calculator-Container .container .left .btn{
    width: 120px;
    height: 35px;
    border-radius: 100px;
    border: solid 2px #ffffff;
    background: transparent;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-Container .container .left .btn:hover{
    background-color : #f20039;
}
.calculator-Container .container .right{
    width: 40%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.calculator-Container .container .right .heading{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    color: #ebebeb;
}
.calculator-Container .container .right .number{
    font-size: 26px;
    line-height: 0.85;
    color: #f20039;
    padding-top: 25px;
}
/* dark final shortcode */

/*dark section*/
.calculator-Container .dark_cont,.left_box,.right_box{
    display: flex;
    justify-content: center;
}

.calculator-Container .left_box,.right_box{
    flex-direction: column;
}

.calculator-Container .long_text{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.37;
    text-align: left;
    color: #ffffff;
}

.calculator-Container .short_text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.52;
    text-align: left;
    color: #ffffff;
}

.calculator-Container .saving_text{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    text-align: center;
    color: #ebebeb;
}

.calculator-Container .saving_no{
    font-size: 52px;
    line-height: 0.85;
    text-align: center;
    color: #f20039;
}

.calculator-Container .submit{
    border-radius: 100px;
    border: solid 2px #ffffff;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: transparent;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-Container .pdf_input_name_email{
    width: 200px;
    height: 35px;
    border-radius: 3px !important;
    background-color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #000000;
}

.calculator-Container .required{
    font-size: 14px;
    font-style: italic;
    line-height: 2;
    text-align: left;
    color: #ffffff;
}
/*dark section*/

.calculator-Container .take-this-with-you{
    font-size: 21px;
    font-weight: 600;
    line-height: 1.37;
    color: #ffffff;
}
.calculator-Container .staffing_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}
.calculator-Container .download-a-copy {
    opacity: 0.75;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.52;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.calculator-Container .btn-get-staffing{
    width: 140px;
    height: 45px;
    border-radius: 100px;
    border: solid 2px #ffffff;
    background: transparent;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-Container .btn-get-staffing:hover{
    background-color : #f20039;
}
.calculator-Container .input-cont-name-email input{
    width: 200px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #000000;
}
.calculator-Container #top_fields_small{
    display: none;
}

.calculator-Container #top_fields_large{
    display: block;
}

/* responsive start staffing */

/* Large devices (laptops/desktops, 992px and up) */

@media (max-width: 991.98px) and (min-width: 768px){
    .calculator-Container #top_fields_small{
        display: flow-root;
    }

    .calculator-Container #top_fields_large{
        display: none;
    }
    .calculator-Container .main_staffing_calculator .top_fields .item_float_left {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-Container .main_staffing_calculator .top_fields .item_float_right {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-Container .main_staffing_calculator .top_fields .label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.67;
        color: #6e6e6e;
        margin-left: 0px;
    }

    .calculator-Container .main_staffing_calculator .top_fields input {
        margin-left: 0px;
    }

    .calculator-Container .bottom_fields .new_row {
        flex-direction: column;
    }

    .calculator-Container .bottom_fields .new_row .time {
        width: 100%;
        height: 50px;
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .calculator-Container .bottom_fields .new_row .incoming_contacts {
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
    }

    .calculator-Container .container {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .calculator-Container .btn-get-staffing {
        width: 105px;
        height: 35px;
        border-radius: 100px;
        border: solid 2px #ffffff;
        background: transparent;
        font-size: 10px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 767.98px) and (min-width: 576px) {

    .calculator-Container #top_fields_small{
        display: flow-root;
    }

    .calculator-Container #top_fields_large{
        display: none;
    }

    .calculator-Container .main_staffing_calculator .top_fields .item_float_left {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-Container .main_staffing_calculator .top_fields .item_float_right {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-Container .main_staffing_calculator .top_fields .label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.67;
        color: #6e6e6e;
        margin-left: 0px;
    }

    .calculator-Container .main_staffing_calculator .top_fields input {
        margin-left: 0px;
    }

    .calculator-Container .bottom_fields .new_row {
        flex-direction: column;
    }

    .calculator-Container .bottom_fields .new_row .time {
        width: 100%;
        height: 50px;
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .calculator-Container .bottom_fields .new_row .incoming_contacts {
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
    }

    .calculator-Container .container {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .calculator-Container .btn-get-staffing {
        width: 105px;
        height: 35px;
        border-radius: 100px;
        border: solid 2px #ffffff;
        background: transparent;
        font-size: 10px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 575px){

    .calculator-Container #top_fields_small{
        display: flow-root;
    }

    .calculator-Container #top_fields_large{
        display: none;
    }

    .calculator-Container .main_staffing_calculator .top_fields .item_float_left {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-Container .main_staffing_calculator .top_fields .item_float_right {
        width: 100%;
        margin-bottom: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .calculator-Container .main_staffing_calculator .top_fields .label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.67;
        color: #6e6e6e;
        margin-left: 0px;
    }

    .calculator-Container .main_staffing_calculator .top_fields input {
        margin-left: 0px;
    }

    .calculator-Container .bottom_fields .new_row {
        flex-direction: column;
    }

    .calculator-Container .bottom_fields .new_row .time {
        width: 100%;
        height: 50px;
        display: flex;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .calculator-Container .bottom_fields .new_row .incoming_contacts {
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
    }

    .calculator-Container .container {
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .calculator-Container .btn-get-staffing {
        width: 105px;
        height: 35px;
        border-radius: 100px;
        border: solid 2px #ffffff;
        background: transparent;
        font-size: 10px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator-Container .input-cont-name-email input {
        width: 200px;
        height: 25px;
        margin-right: 5px;
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        color: #000000;
    }
}
.calculator-Container #callcenter_largescreen{
    display: block;
}
.calculator-Container #callcenter_smallscreen{
    display: none;
}
/* call center responsive design */
.calculator-Container .callcentermobileheading{
    font-weight: bold;
    color: #0020ce;
    font-size: 18px;
    text-align: center;
}

.calculator-Container .rowtoptitle{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #5a5a5a;
    margin: 0;
}

.calculator-Container .rowtopsmalltext{
    font-size: 14px;
    line-height: 1.5;
    color: #5a5a5a;
    margin: 0;
}

.calculator-Container .row{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #eaeaea;;
}

.calculator-Container .row .column{
    width: 25%;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #000000;
}

.calculator-Container .row .column input{
    width: 70px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 4px 4px 0 0 #e4e6f2;
    background-color: #f8f9ff;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}

.calculator-Container .row .column .inputbottom{
    font-size: 9px;
    color: #919191;
    text-transform: uppercase;
    line-height: 2.5;
}

.calculator-Container .row .column .inputtop{
    font-size: 12px;
    color: #919191;
}

.calculator-Container .totalamount{
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    display: flex;
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
}

.calculator-Container .totalamount span{
    font-size: 18px;
    line-height: 1.19;
    color: #0020ce;
}

.calculator-Container #outsource{
    padding-top: 50px;
}

.calculator-Container .totalsavingtext{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding: 40px;
}

.calculator-Container .totalsavingamt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    color: #f20039;
}
/* call center responsive design */

/* Large devices (laptops/desktops, 992px and up) */

@media (max-width: 991.98px) and (min-width: 768px){
    .calculator-Container .col5, .col6 {
        font-size: 9px;
        text-align: center;
        color: #000000;
    }

    .calculator-Container .col2 .text, .col3 .text, .col4 .text {
        font-size: 10px;
        color: #000000;
    }

    .calculator-Container .col2 input, .col3 input, .col4 input {
        width: 65px;
        height: 25px;
        border-radius: 2px !important;
        box-shadow: 2px 2px 0 0 #e4e6f2;
        background-color: #f8f9ff !important;
        font-size: 10px;
        text-align: center;
        color: #000000;
        border: none !important;
    }

    .calculator-Container #outsourceagentrate{
        width: 65px;
        height: 25px;
        border-radius: 2px !important;
        box-shadow: 2px 2px 0 0 #e4e6f2;
        background-color: #f8f9ff !important;
        font-size: 10px;
        text-align: center;
        color: #000000;
        border: none !important;
    }
    .calculator-Container .table .col1 {
        font-size: 10px;
        font-weight: bold;
        line-height: 1.2;
        text-align: right;
        color: #5a5a5a;
        padding-top: 0px;
    }

    .calculator-Container .vs {
        background-color: #000000;
        font-size: 7px;
        color: #ffffff;
        border-radius: 50%;
        padding: 8%;
        margin-right: 15px;
        margin-left: 15px;
        display: block;
    }

    .calculator-Container #callcenter_largescreen{
        display: block;
    }
    .calculator-Container #callcenter_smallscreen{
        display: none;
    }
}

@media only screen and (max-width: 767.98px) and (min-width: 576px) {
    .calculator-Container #callcenter_largescreen{
        display: none;
    }
    .calculator-Container #callcenter_smallscreen{
        display: block;
    }

    .calculator-Container .container .right{
        display: none;
    }

    .calculator-Container .container .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .calculator-Container .input-cont-name-email{
        display: block !important;
    }

    .calculator-Container .input-cont-name-email input {
        width: 100%;
    }

    .calculator-Container .container .left .heading {
        text-align: center;
    }

    .calculator-Container .container .left .text {
        text-align: center;
    }
}

@media only screen and (max-width: 575px){
    .calculator-Container #callcenter_largescreen{
        display: none;
    }
    .calculator-Container #callcenter_smallscreen{
        display: block;
    }

    .calculator-Container .container .right{
        display: none;
    }

    .calculator-Container .container .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .calculator-Container .input-cont-name-email{
        display: block !important;
    }

    .calculator-Container .input-cont-name-email input {
        width: 100%;
    }

    .calculator-Container .container .left .heading {
        text-align: center;
    }

    .calculator-Container .container .left .text {
        text-align: center;
    }
}
.total_saving_block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}

.total_saving_block .heading{
  font-size: 24px;
  line-height: 1.38;
  color: #000000;
}

.total_saving_block .amount{
    font-size: 30px;
    padding-top: 20px;
    line-height: 0.85;
    color: #0020ce;
  }